<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{{ config.SITE_TITLE }}{% endblock %}</title>
        {% block meta %}{% endblock %}

        <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <link href='//fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:400,700,300|Roboto:300' rel='stylesheet' type='text/css'>
        <link href="/static/css/rentmath.css" rel="stylesheet" type="text/css">


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


        {% block extra_css %}{% endblock %}
        {% block extra_js %}{% endblock %}
        {% block extra_head %}{% endblock %}


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <nav class="navbar navbar-default">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="/">RentMath</a>
            </div>

          </div><!-- /.container-fluid -->
        </nav>


        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                <div class="container">
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        {% endwith %}


        {% block content %}{% endblock %}


        <div class="bottom">
            <div class="container">
                <div class="footer">
                    <p>{{ moment().format('ll') }} &copy; <a href="{{ url_for('index') }}">RentMath.io</a> {{ moment().format('YYYY') }}. Created by Vincent Zhang (<a href="https://github.com/VincentTide">Github</a>)</p>
                </div>
            </div>
        </div>



        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {{ moment.include_moment() }}
        {% block body_end %}{% endblock %}

        {#    Google Analytics #}


    </body>
</html>
