{% extends "base.html" %}

{% block title %}RentMath - Rental Property Income Calculator{% endblock %}

{% block meta %}
<meta name="description" content="Rental property income calculator.">
{% endblock %}

{% block extra_js %}
<script src="/static/js/rentmath.js"></script>
{% endblock %}


{% block content %}

<div class="middle">
    <div class="container">


        <div>


            <div class="form-style-8">
                <form role="form" action="{{ url_for('rental') }}" method="POST" >
                    {{ form.hidden_tag() }}
                    <h2>Property Details</h2>
                    <input type="text" name="property_name" placeholder="Property Name" />
                    <input type="number" name="purchase_price" placeholder="Purchase Price" min="0" step="any"/>
                    <input type="number" name="closing_cost" placeholder="Closing Cost" min="0" step="any"/>
                    <input type="number" name="repair_cost" placeholder="Repair Cost" min="0" step="any"/>
                    <input type="number" name="units_in_property" placeholder="Number of Units in Property" min="0"/>

                    <h3>Loan Terms</h3>
                    <input type="number" name="down_payment_percent" placeholder="Down Payment %" min="0" step="any"/>
                    <input type="number" name="loan_interest_rate_percent" placeholder="Loan Interest Rate %" min="0" step="any"/>
                    <input type="number" name="loan_period_years" placeholder="Loan Years" min="0"/>

                    <h3>Income ($ monthly)</h3>
                    <input type="number" name="rental_income_monthly" placeholder="Rental Income" min="0" step="any"/>
                    <input type="number" name="misc_income_monthly" placeholder="Misc Income (Parking, Laundry)" min="0" step="any"/>

                    <h3>Property Tax and Insurance ($ yearly)</h3>
                    <input type="number" name="property_tax_annual" placeholder="Property Tax" min="0" step="any"/>
                    <input type="number" name="hazard_insurance_annual" placeholder="Hazard Insurance" min="0" step="any"/>
                    <input type="number" name="flood_insurance_annual" placeholder="Flood Insurance" min="0" step="any"/>

                    <h3>Monthly Expenses (% of rental income)</h3>
                    <input type="number" name="utilities_monthly_percent" placeholder="Utilities" min="0" step="any"/>
                    <input type="number" name="vacancy_monthly_percent" placeholder="Vacancy" min="0" step="any"/>
                    <input type="number" name="repairs_monthly_percent" placeholder="Repairs & Maintenance" min="0" step="any"/>
                    <input type="number" name="capex_monthly_percent" placeholder="CapEx" min="0" step="any"/>
                    <input type="number" name="manager_monthly_percent" placeholder="Property Management" min="0" step="any"/>

                    <h3>Other Expenses ($ monthly)</h3>
                    <input type="number" name="hoa_monthly" placeholder="HOA Fees" min="0" step="any"/>
                    <input type="number" name="misc_expense_monthly" placeholder="Misc Expenses" min="0" step="any"/>



                    <br>
                    <br>
                    <div class="form-group" style="text-align:center;">
                        <button type="submit" class="btn btn-success btn-lg">Calculate</button>
                    </div>












                </form>

            </div> <!-- vertical-form -->





        </div>


    </div>
</div>



{% endblock %}
